<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".runtime.ReminderAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".runtime.AcknowledgeReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".runtime.QuickLogWaterReceiver"
            android:exported="false" />

        <receiver
            android:name=".runtime.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".runtime.ReminderDataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/hydrate-meds"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>
